<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinognss.cloud.vantix.infrastructure.mapper.ServiceAccountMapper">
    <insert id="insertBatch">
        INSERT INTO service_account (
            cors_account_id, account, owner_company_id, assigned_user_id,
            source_service_code_id, exchange_batch_id, exchange_detail_id,
            service_type, duration_value, duration_unit, account_silence_months,
            exchange_at, force_activate_at, cors_status, cors_activation_status,
            activated_at, expire_at, cors_created_at, cors_updated_at, last_sync_at,
            version, created_at, updated_at
        ) VALUES
        <foreach collection="accounts" item="item" separator=",">
            (
                #{item.corsAccountId}, #{item.account}, #{item.ownerCompanyId}, #{item.assignedUserId},
                #{item.sourceServiceCodeId}, #{item.exchangeBatchId}, #{item.exchangeDetailId},
                #{item.serviceType}, #{item.durationValue}, #{item.durationUnit}, #{item.accountSilenceMonths},
                #{item.exchangeAt}, #{item.forceActivateAt}, #{item.corsStatus}, #{item.corsActivationStatus},
                #{item.activatedAt}, #{item.expireAt}, #{item.corsCreatedAt}, #{item.corsUpdatedAt},
                #{item.lastSyncAt}, #{item.version}, #{item.createdAt}, #{item.updatedAt}
            )
        </foreach>
    </insert>
</mapper>
